$light-background: #f1ece4;
$light-text: #035;
$dark-background: #6b616f;
$dark-text: #9cdbce;
$delete-text: #ca443d;

$widths: 100, 75, 80, 150;

@keyframes hoverFade {
  0% {
    background-color: $light-background;
  }
  25% {
    background-color: $dark-text;
  }
  50% {
    background-color: $light-text;
  }
  100% {
    background-color: $dark-background;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(50deg, lightcoral, lightblue);
  font-family: monospace;
}

::-webkit-scrollbar {
  z-index: 0;
  border-radius: 5px;
  background-color: #eee;
  margin-right: auto;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.todo {
  background-color: lightgray;
  width: 57.7777vw;
  height: 66vh;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  border-radius: 1em 0 0 1em;
  position: absolute;
  left: 19.999%;
  top: 15%;
  box-shadow: 1px 1px 8px 2px #111;

  overflow-y: auto;
}

input {
  border: none;
  border-radius: 0.3em;
  height: 2.5em;
}
.todo-form {
  margin-top: 1em;
  .btn {
    border: none;
    background-color: #ddd;
    height: 3em;
    width: 5em;
    border-radius: 0.3em;
    &:hover {
      cursor: pointer;
      border: 2px solid $dark-background;
    }
  }
}

.todo-item {
  z-index: 3;
  width: 80%;
  display: inline-flex;
  justify-content: flex-start;
  text-align: left;
  align-content: center;
  align-items: center;
  background-color: $light-background;
  font-size: 24px;
  margin: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-inline-end: 4em;
  overflow: hidden;
  overflow-x: auto;
  p {
    margin-right: auto;
  }
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}

.btn-group {
  gap: 1em;
  display: flex;
  margin-left: auto;
}

.delete-btn,
.edit-btn,
.finish-btn {
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  margin-left: auto;
}

.finish-btn {
  margin-left: auto;
  display: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

.todo-complete {
  background-color: lightgreen;
  p {
    text-decoration: line-through;
  }
}

.edit-task-input {
  border-radius: 1em;
}
